.category {
    padding: 4px 8px;
    border: 1px solid lightgray;
}

.category:hover {
    cursor: pointer;
    background-color: rgb(110, 106, 106);
}

.active-category {
    background-color: red !important;
}

.template-section {
    width: 200px;
    height: 150px;
    background-size: 100% 100%;
}

.create-section {
    background-color: rgba(0, 0, 0, 0.719);
}

.create-section textarea {
    background-color: rgb(56, 48, 48);
    color: white;
}

#select-category option {
    text-transform: capitalize;
}

.url-field{
    width: 600px;
}

.template-section a {
    border: 1px solid black;
    width: 80%;
}

.template-section button {
    width: 100%;
    background-color: rgb(88, 88, 223);
    padding: 1px 8px;
    color: white;
    text-decoration: none;
    border: none;
}

.custom-btns button {
    background-color: white;
}