.hero {
    min-height: 90vh;
    background: var(--primary);
    background: linear-gradient(149deg, var(--primary) 1%, rgba(57, 74, 240, 1) 45%);
    color: white;
    padding-top: 130px;
    overflow: hidden;
}

.hero .general-description {
    width: 100%;
    row-gap: 35px;
    text-align: center;
}

.hero .heading {
    font-size: 2.7rem;
    line-height: 100%;
}

.hero .description {
    font-size: 1rem;
}

.hero .custom-btn {
    width: 70%;
    margin: 0 auto;
}

.banner-img {
    display: none;
}