.hero {
    height: fit-content;
    background: #717deb;
    background: linear-gradient(149deg, #717deb 1%, rgba(57, 74, 240, 1) 45%);
    color: white;
    padding-top: 130px;
    padding-bottom: 50px;
    overflow: hidden;
}

.hero .general-description {
    width: 100%;
    row-gap: 35px;
    text-align: center;
}

.hero .heading {
    font-size: 3.5rem;
    line-height: 100%;
}

.hero .description {
    font-size: 1.3rem;
}

.hero .custom-btn {
    width: 70%;
    margin: 0 auto;
}

.banner-img {
    display: none;
}