:root {
  --main-wrapper-width: 70%;
  --main-wrapper-space-x: 15%;
  --primary: #717deb;
  --secondary: #28c78f;
}

.main-wrapper {
  width: var(--main-wrapper-width);
}

.custom-btn {
  border: none;
  background-color: var(--secondary);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.404);
}